body {
  height: 80em;
  background: linear-gradient(rgb(9, 9, 9), rgb(152, 33, 33), rgb(25, 25, 83)) no-repeat
}

#gameScore {
  position: absolute;
  top: -10px;
  left: 420px;
  font-size: 20px;
  background-color: rgba(2, 17, 1, 0.995);
  border-radius: 20px;
  color: wheat;
}
#zombie-found{
  position: relative;
}
table {
  border: solid black;
  width: 400px;
  border: 3 pxsolid black;
}

.tbl-body td {
  border: 2px solid black;

}

td {
  width: 10px;
  height: 15px;
  text-align: center;
}

.button-move {
  background: linear-gradient(wheat,white);
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  border:solid wheat;
}

input {
  background-color: white;
  color: black;
  margin: 10px;
  border: 2px solid black;

}

.buttons {
  width: 410px;
  background: linear-gradient(black,rgb(59, 56, 49),rgb(80, 10, 10));
  border-radius: 20px;
  margin: 2px;
  border: solid rgb(237, 233, 233)

}

.buttonsrow1 {
  display: flex;
  justify-content: center;
}


.buttonsrow2 {
  display: flex;
  justify-content:space-evenly;
}

.buttonsrow3 {
  display: flex;
  justify-content: center;
}

img {
  position: relative;
  width: 400px;
  height: 300px;
}

.catimage {
  position: absolute;
  width: 100px;
  height: auto;
  left: 150px;
  top: 175px;
}

.zombieimage {
  position: relative;
  width: 90px;
  height: auto;
  right: 250px;
  top: -100px;
}